ActiveLearning.WCF.TestClient/ActiveLearning.WCF.TestClient/Service References/StudentSvcRef/StudentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9005/StudentService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ActiveLearning.DB" />
  <xs:element name="GetCoursesWithStudentSid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoursesWithStudentSidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ActiveLearning.DB" minOccurs="0" name="GetCoursesWithStudentSidResult" nillable="true" type="q1:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoursesByStudentSid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentSid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoursesByStudentSidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ActiveLearning.DB" minOccurs="0" name="GetCoursesByStudentSidResult" nillable="true" type="q2:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentsByCourseSid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseSid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentsByCourseSidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ActiveLearning.DB" minOccurs="0" name="GetContentsByCourseSidResult" nillable="true" type="q3:ArrayOfContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextQuiz">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextQuizResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ActiveLearning.DB" minOccurs="0" name="GetNextQuizResult" nillable="true" type="q4:QuizQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnswerQuiz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quizQuestionSid" type="xs:int" />
        <xs:element minOccurs="0" name="quizAnswserSid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnswerQuizResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnswerQuizResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>