ActiveLearning.WCF.TestClient/ActiveLearning.WCF.TestClient/Service References/StudentSvcRef/StudentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ActiveLearning.DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ActiveLearning.DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCourse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Course" nillable="true" type="tns:Course" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourse" nillable="true" type="tns:ArrayOfCourse" />
  <xs:complexType name="Course">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Course" nillable="true" type="tns:Course" />
  <xs:complexType name="ArrayOfContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Content" nillable="true" type="tns:Content" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContent" nillable="true" type="tns:ArrayOfContent" />
  <xs:complexType name="Content">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Content" nillable="true" type="tns:Content" />
  <xs:complexType name="QuizQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Course" nillable="true" type="tns:Course" />
      <xs:element minOccurs="0" name="CourseSid" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDT" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeleteDT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="QuizOptions" nillable="true" type="tns:ArrayOfQuizOption" />
      <xs:element minOccurs="0" name="Sid" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDT" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuizQuestion" nillable="true" type="tns:QuizQuestion" />
  <xs:complexType name="ArrayOfQuizOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuizOption" nillable="true" type="tns:QuizOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuizOption" nillable="true" type="tns:ArrayOfQuizOption" />
  <xs:complexType name="QuizOption">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="QuizOption" nillable="true" type="tns:QuizOption" />
</xs:schema>