ActiveLearning.FormClient/Service References/StudentService/StudentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ActiveLearning.ServiceInterfaces.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ActiveLearning.ServiceInterfaces.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCourseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CourseDTO" nillable="true" type="tns:CourseDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourseDTO" nillable="true" type="tns:ArrayOfCourseDTO" />
  <xs:complexType name="CourseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDT" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeleteDT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Sid" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDT" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CourseDTO" nillable="true" type="tns:CourseDTO" />
  <xs:complexType name="ArrayOfContentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContentDTO" nillable="true" type="tns:ContentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContentDTO" nillable="true" type="tns:ArrayOfContentDTO" />
  <xs:complexType name="ContentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseSid" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDT" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeleteDT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sid" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDT" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentDTO" nillable="true" type="tns:ContentDTO" />
  <xs:complexType name="QuizQuestionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseSid" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDT" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeleteDT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Sid" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDT" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuizQuestionDTO" nillable="true" type="tns:QuizQuestionDTO" />
</xs:schema>