Active_Learning_Service_Group4_Solution/ActiveLearning.Web/Service References/UploadContentService/UploadCourseMaterialFlowChartWF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InstructorUploadContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InstructorSid" type="xs:int" />
        <xs:element minOccurs="0" name="CourseSid" type="xs:int" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FileBytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstructorUploadContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContentSid" type="xs:int" />
        <xs:element minOccurs="0" name="ContentUploadedSuccessfully" type="xs:boolean" />
        <xs:element minOccurs="0" name="ContentStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstructorReviseContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CourseSid" type="xs:int" />
        <xs:element minOccurs="0" name="InstructorSid" type="xs:int" />
        <xs:element minOccurs="0" name="FileBytes" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContentSid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstructorReviseContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RevisedSuccessfully" type="xs:boolean" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContentStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminAcceptContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContentSid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminAcceptContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcceptedSuccessfully" type="xs:boolean" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContentStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminCommentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContentSid" type="xs:int" />
        <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminCommentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CommentedSuccessfully" type="xs:boolean" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContentStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>