Active_Learning_Service_Group4_Solution/ActiveLearning.Web/Service References/UploadContentService/UploadCourseMaterialFlowChartWF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UploadCourseMaterialFlowChartWF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7662/UploadCourseMaterialFlowChartWF.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7662/UploadCourseMaterialFlowChartWF.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7662/UploadCourseMaterialFlowChartWF.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ActiveLearning.DB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_InstructorSaveContentData_InputMessage">
    <wsdl:part name="parameters" element="tns:InstructorSaveContentData" />
  </wsdl:message>
  <wsdl:message name="IService_InstructorSaveContentData_OutputMessage">
    <wsdl:part name="parameters" element="tns:InstructorSaveContentDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InstructorReviseContentData_InputMessage">
    <wsdl:part name="parameters" element="tns:InstructorReviseContentData" />
  </wsdl:message>
  <wsdl:message name="IService_InstructorReviseContentData_OutputMessage">
    <wsdl:part name="parameters" element="tns:InstructorReviseContentDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AdminAcceptContent_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminAcceptContent" />
  </wsdl:message>
  <wsdl:message name="IService_AdminAcceptContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminAcceptContentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AdminCommentContent_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminCommentContent" />
  </wsdl:message>
  <wsdl:message name="IService_AdminCommentContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminCommentContentResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="InstructorSaveContentData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InstructorSaveContentData" message="tns:IService_InstructorSaveContentData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InstructorSaveContentDataResponse" message="tns:IService_InstructorSaveContentData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InstructorReviseContentData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InstructorReviseContentData" message="tns:IService_InstructorReviseContentData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InstructorReviseContentDataResponse" message="tns:IService_InstructorReviseContentData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminAcceptContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AdminAcceptContent" message="tns:IService_AdminAcceptContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AdminAcceptContentResponse" message="tns:IService_AdminAcceptContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminCommentContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AdminCommentContent" message="tns:IService_AdminCommentContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AdminCommentContentResponse" message="tns:IService_AdminCommentContent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InstructorSaveContentData">
      <soap:operation soapAction="http://tempuri.org/IService/InstructorSaveContentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstructorReviseContentData">
      <soap:operation soapAction="http://tempuri.org/IService/InstructorReviseContentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminAcceptContent">
      <soap:operation soapAction="http://tempuri.org/IService/AdminAcceptContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminCommentContent">
      <soap:operation soapAction="http://tempuri.org/IService/AdminCommentContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UploadCourseMaterialFlowChartWF">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:7662/UploadCourseMaterialFlowChartWF.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>