Active_Learning_Service_Group4_Solution/ActiveLearning.Web/Service References/StudentCourseEnrollServiceReference/StudentCourseEnrollFLowChartWF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentCourseEnrollFLowChartWF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7662/StudentCourseEnrollFLowChartWF.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7662/StudentCourseEnrollFLowChartWF.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_StudentRequestToEnrollCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:StudentRequestToEnrollCourse" />
  </wsdl:message>
  <wsdl:message name="IService_StudentRequestToEnrollCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudentRequestToEnrollCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AcceptEnrollApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptEnrollApplication" />
  </wsdl:message>
  <wsdl:message name="IService_AcceptEnrollApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptEnrollApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RejectEnrollApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectEnrollApplication" />
  </wsdl:message>
  <wsdl:message name="IService_RejectEnrollApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectEnrollApplicationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="StudentRequestToEnrollCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/StudentRequestToEnrollCourse" message="tns:IService_StudentRequestToEnrollCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/StudentRequestToEnrollCourseResponse" message="tns:IService_StudentRequestToEnrollCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptEnrollApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AcceptEnrollApplication" message="tns:IService_AcceptEnrollApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AcceptEnrollApplicationResponse" message="tns:IService_AcceptEnrollApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectEnrollApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RejectEnrollApplication" message="tns:IService_RejectEnrollApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RejectEnrollApplicationResponse" message="tns:IService_RejectEnrollApplication_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StudentRequestToEnrollCourse">
      <soap:operation soapAction="http://tempuri.org/IService/StudentRequestToEnrollCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptEnrollApplication">
      <soap:operation soapAction="http://tempuri.org/IService/AcceptEnrollApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectEnrollApplication">
      <soap:operation soapAction="http://tempuri.org/IService/RejectEnrollApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentCourseEnrollFLowChartWF">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:7662/StudentCourseEnrollFLowChartWF.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>