Active_Learning_Service_Group4_Solution/ActiveLearning.Web/Service References/StudentCourseEnrollServiceReference/StudentCourseEnrollFLowChartWF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StudentRequestToEnrollCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentSid" type="xs:int" />
        <xs:element minOccurs="0" name="CourseSid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StudentRequestToEnrollCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentSid" type="xs:int" />
        <xs:element minOccurs="0" name="CourseSid" type="xs:int" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EnrollApplicationSid" type="xs:int" />
        <xs:element minOccurs="0" name="EnrollApplicationSuccessfully" type="xs:boolean" />
        <xs:element minOccurs="0" name="EnrolledSuccessfully" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptEnrollApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnrollApplicationSid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptEnrollApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAcceptedSuccessfully" type="xs:boolean" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HasError" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectEnrollApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EnrollApplicationSid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectEnrollApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsRejectedSuccessfully" type="xs:boolean" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HasError" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>